@import "../../../../sass/variables";
.register {
    background-color: $background-color;
    display: flex;
    justify-content: center;
    .register-content {
        span {
            display: block;
            color: $text-hover-color;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 3px solid #fff;
            padding-bottom: 10px;
        }
        p {
            margin: 20px 0;
        }
        width: 50%;
        text-align: center;
        margin: 40px 0;
        color: #fff;
    }
}
.btn-primary {
    background-color: $text-hover-color;
    border-radius: 0;
    padding: 15px 40px;
    border-color: $text-hover-color;
}
.btn-primary:hover {
    background-color: $background-color;
    border-color: $text-hover-color;
}