@import "../../../../sass/variables";
header {
    padding: 0 30px;
    a.navbar-brand {
        height: 0;
        padding: 20px 0;
    }
}
.navbar {
    min-height: 110px;
    margin-bottom: 0;   
}
header,
.navbar {
    background-color: $background-color;
}
.navbar-toggle {
    border: $text-hover-color;
}
.icon-bar {
    background-color: #fff;
}
.navbar-nav {
    li {
        padding-right: 35px;
        >  a {
            color: $text-color;
            letter-spacing: 1px;
            padding-top: 40px;
            padding-bottom: 5px;
            background-color: $background-color;
        }
    }
    li:hover {
        background-color: $background-color;
    } 
    
    li a:hover {
        color: $text-hover-color;
        background-color: $background-color;
        border-bottom: 3px solid $text-hover-color;
    }
}
app-social-media {
    display: block;
    padding-top: 38px;
}