@import "../../../sass/variables";

span {
    display: block;
}
.container {
    padding: 40px 0;
    color: #A8A8A8;
}
.content-title {
    font-size: 24px;
    border-bottom: 2px solid #D3D3D3;
    max-width: 300px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: $text-hover-color;
}
.content-text {
    width: 60%;
}