<div class="more-info-box">
    <div class="info-box">
      <div>
        <span class="content-title">Lorem Ipsum Heading</span>
        <span class="content-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolorum nostrum deleniti magnam veniam laudantium ipsam perspiciatis voluptate, sint sit aperiam inventore dicta itaque a. Dignissimos maiores quasi fugiat quis, delectus voluptatem mollitia hic nam velit dolore, quidem obcaecati. Debitis minima 
          dicta aut. Harum, expedita nostrum? Corporis cum nam quos!.</span>
          <button type="button" class="btn btn-primary">MORE INFO</button>
      </div>
    </div>
</div>