
<app-google-map></app-google-map>
<app-register></app-register>
<div class="container">
  <div class="cotnact">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem velit repellendus placeat sed. Ratione mollitia nihil amet repellendus itaque fugit atque neque nesciunt minus sint natus a ipsum ullam, explicabo animi, facilis, dolores sed fuga? Ducimus, exercitationem nihil, ullam laboriosam, fuga culpa enim cumque porro nobis optio quaerat sunt ipsa natus. Perferendis magnam explicabo ipsa architecto quas, soluta rerum excepturi quo illo blanditiis amet ratione natus, adipisci vitae molestias. Consectetur ipsa hic molestias reiciendis id blanditiis, qui ducimus accusantium quasi voluptatum doloribus deserunt vel iusto. Recusandae, vitae molestias. Dolor libero, at modi
    quidem officiis ullam voluptatibus quis perferendis ipsam.</p>
  
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem velit repellendus placeat sed. Ratione mollitia nihil amet repellendus itaque fugit atque neque nesciunt minus sint natus a ipsum ullam, explicabo animi, facilis, dolores sed fuga? Ducimus, exercitationem nihil, ullam laboriosam, fuga culpa enim cumque porro nobis optio quaerat sunt ipsa natus. Perferendis magnam explicabo ipsa architecto quas, soluta rerum excepturi quo illo blanditiis amet ratione natus, adipisci vitae molestias. Consectetur ipsa hic molestias reiciendis id blanditiis, qui ducimus accusantium quasi voluptatum doloribus deserunt vel iusto. Recusandae, vitae molestias. Dolor libero, at modi
        quidem officiis ullam voluptatibus quis perferendis ipsam.</p>
    </div>
</div>
<app-disclaimer></app-disclaimer>
