<div class="contact-us">
    <div class="contact-box">
        <span>Contact Us</span>
        <div class="trading-contacts">
            <p><span class="code-contact">T</span><span>020 7444 5555</span></p>
            <p><span class="code-contact">E</span><span>info@tradinsights.com</span></p>
            <p><span class="code-contact">A</span><span>85 Great Portland Street</span></p>
            <p>London</p>
            <p>W1W 7LT</p>
        </div>
        <app-social-media></app-social-media>
        <p>Fill out contact form content here</p>
        <!-- <form class="contact-us" name="contact-us">
            <input type="text" placeholder="Full Name"/>
            <input type="text" placeholder="Telephone No"/>
            <input type="text" placeholder="Email Address"/>
            <textarea cols="50" rows="10" placeholder="Message"></textarea>
        </form> -->
    </div>
    <app-google-map></app-google-map>
</div>

<app-register></app-register>
<div class="container">
  <div class="cotnact">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem velit repellendus placeat sed. Ratione mollitia nihil amet repellendus itaque fugit atque neque nesciunt minus sint natus a ipsum ullam, explicabo animi, facilis, dolores sed fuga? Ducimus, exercitationem nihil, ullam laboriosam, fuga culpa enim cumque porro nobis optio quaerat sunt ipsa natus. Perferendis magnam explicabo ipsa architecto quas, soluta rerum excepturi quo illo blanditiis amet ratione natus, adipisci vitae molestias. Consectetur ipsa hic molestias reiciendis id blanditiis, qui ducimus accusantium quasi voluptatum doloribus deserunt vel iusto. Recusandae, vitae molestias. Dolor libero, at modi
    quidem officiis ullam voluptatibus quis perferendis ipsam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit voluptatem velit repellendus placeat sed. Ratione mollitia nihil amet repellendus itaque fugit atque neque nesciunt minus sint natus a ipsum ullam, explicabo animi, facilis, dolores sed fuga? Ducimus, exercitationem nihil, ullam laboriosam, fuga culpa enim cumque porro nobis optio quaerat sunt ipsa natus. Perferendis magnam explicabo ipsa architecto quas, soluta rerum excepturi quo illo blanditiis amet ratione natus, adipisci vitae molestias. Consectetur ipsa hic molestias reiciendis id blanditiis, qui ducimus accusantium quasi voluptatum doloribus deserunt vel iusto. Recusandae, vitae molestias. Dolor libero, at modi
        quidem officiis ullam voluptatibus quis perferendis ipsam.</p>
    </div>
</div>
<app-disclaimer></app-disclaimer>
