@import "../../../../sass/variables";

.trademark-footer {
    background-color: $text-hover-color;
    p {
        padding: 20px 45px;
        color: $background-color;
        font-weight: 700;
    }
}